body {
   background-color: darkred;
   text-align: center;
   }
h1 {
    color:aqua
    }
p {
    color:blanchedalmond

    }
 
 div{
  width: 50px;
  height: 100px;
  border: 100px solid black;
  


  
}